body{background-image:none!important;background:none repeat scroll 0 0 #B4C5DA!important;text-transfor: none !important;background-color: #F7E3B3 !important;}
.sap-desktop .sapMBar.sapMPageHeader{background-color:#0065A8}
.sapMBar-CTX .sapMBtnContent > .sapUiIcon{color:#FFF;text-shadow:0 1px 0 rgba(255,255,255,0.5)}
.sapMGlobalBackgroundColor,.sapMGlobalBackgroundImage{background-color:transparent!important;background-image:none!important}
.sapMListHdr,.sapMTB-Transparent-CTX .sapMLabel,.sapMLabel.sapMLabelTBHeader {text-shadow: none !important; }
.sapMBar.sapMPageHeader::before {
  border-top: none !important;
}
.sapMBtnInner,.sapMIBar-CTX .sapMBtnInner { text-shadow: none !important; color: #FFF !important;}
.sapMBar.sapMPageHeader,.sapMShellGlobalInnerBackground {
 background: none !important;
}
.sapMShellBrandingBar,.sapMShellGlobalOuterBackground {
  background-color: transparent !important;
  background-image: none !important;
}


.sapMText {
 text-transform: none !important;
}
.sapMListTbl .sapMText {
  padding-top: 1px;
font-size: 15pt !important;
color: #333333;
font-weight: normal;
font-family: Arial !important;
}
/*.sapMBar {
 color: #FFF !important;
 background-color: transparent !important;
 text-shadow: none !important;
 -webkit-box-shadow: none !important;
  box-shadow: none !important;
}*/
.selArrow >.sapMBtnDefault >.sapMBtnIcon, .scanArrow >.sapMBtnDefault >.sapMBtnIcon {
  color: #a96018 !important;
font-size: 34pt !important;
width:5rem !important;
}
.sapMBtnIcon,.sapMPanelExpandableIcon {
  color:#fff !important;
  font-size: 15pt !important;
}

.jblLogo {
  margin-bottom: 28px;
  margin-left:10px;
}
#pageHdr1,#pageHdr2,#pageHdr3 {
   margin-top:18px;
   background-color: #a96018 !important;
   height:3em !important;
}
.welHdr {
color: #fff !important;
/*background-color: #fff !important;
color:rgb(45, 45, 115) !important;
font-weight: bold;
height:40px;
margin-top: -15px;*/
}
.subHdrBar {
  height: 1.5rem !important;
  background-color: #fff !important;
}
.eDataLabel {
  color: #a96018 !important;
  font-size: 48pt !important;
font-style: Arial !important;
}
#mainPanel,#poDetailPanel{
  margin-left:20px;
 margin-top:50px;
}
#poQslPanel {
  margin-top: 20px !important;
  margin-left:20px !important;
}
#eSignPanel {
  margin-left:40px !important;
  margin-right:40px !important;
}
#mainPanel > .sapMPanelBG,#poDetailPanel > .sapMPanelBG,#poQslPanel > .sapMPanelBG, #eSignPanelTxt > .sapMPanelBG {
  background-color: #F7E3B3 !important;
}
#eSignPanelTxt {
  margin-left:40px !important;
  margin-top: 20px !important;
}

.lcTypeBar {
  background-color: #fff !important;
  height:5rem !important;
  border-radius: 10px;
}
.seqNo4 {
 margin-top: 80px;
}
.quesBar {
  background-color: #fff !important;
  height:5rem !important;
  border-radius: 10px;
}
.lcTypeLabel {
/*color:#5089ab !important;
padding-left:30px !important;
font-weight: bold !important;
font-family: arial !important;
font-size: 1.5rem !important;
margin-top:20px !important;*/

color:#5089ab !important;
padding-left:30px !important;
font-weight: bold !important;
font-family: arial !important;
font-size: 26pt !important;
margin-top:15px !important;
}
.selArrow {
  margin-top:10px !important;
  /*margin-right:20px !important;*/
}
.scanArrow {
  margin-top:35px !important;
  margin-right:20px !important;
}
.scanbar {
 height:8rem !important;
background-color:#fff !important;
border-radius: 10px;
}
.scanLabel {
margin-top:35px !important;
color:#5089ab !important;
padding-left:30px !important;
font-weight: bold !important;
font-family: arial !important;
font-size: 26pt !important;
}
.sapMPanelContent {
 border: none !important;
}
.canbtn {
  float: right;
  margin-top:50px !important;
}
.canbtn > .sapMBtnInner {
  border-radius: 10px !important;
  color:#5089ab !important;
  font-weight: bold !important;
  font-family: arial;
  font-size: 26pt !important;
}
.procQsPanel {
background-color: #a96018;
color:white;
text-transform: none;
font-weight: bold;
border-top-left-radius: 10px;
border-top-right-radius: 10px;

}
.procQsPanelList {
    background-color: #a96018;
    color:white;
    text-transform: none;
    font-weight: bold;
}
.procQsPanelListFinal {
    background-color: #a96018;
    color:white;
    text-transform: none;
    font-weight: bold;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.procQsPanel > .sapMPanelContent, .procQsPanelList > .sapMPanelContent, .procQsPanelListFinal > .sapMPanelContent, .eSignPanel > .sapMPanelContent,section#cancelPanel > .sapMPanelContent,#eSignPanelTxt > .sapMPanelContent {
 padding: 0 !important;
}
section#eSignPanel > .sapMPanelContent {
   padding: 0 !important;
   border-radius: 10px;
}

.sapMILILabel {
/*font-size: 1rem !important;*/
max-width: 90% !important;
color: #5089ab !important;
font-weight: normal !important;
white-space: normal !important;
}
.sapMTB-Transparent-CTX .sapMText {
  text-shadow: none !important;
  color: #fff !important;
  font-size: 15pt !important;
}
.eSignFld {
  margin-left:10px;
margin-bottom: 10px;
}
.lcmaintile {
  width: 100% !important;
  height:100% !important;
}
.seqNo {

width:125px;
background-color:#Faf7f0;
color:#e6d4c2;
text-align: center !important;
font-weight: bold;
font-size: 54pt !important;
margin-top: 50px;
border-top-left-radius: 60px;
border-top-right-radius: 60px;
margin-left:10px;
height: 75px;
font-family: Arial !important;

/*width:100px;
background-color:#F1EFEB;
color:#e6d4c2;
text-align: center !important;
font-weight: bold;
font-size: 2rem !important;
margin-top: 50px;
border-top-left-radius: 60px;
border-top-right-radius: 60px;
margin-left:5px;
height: 55px;
padding-top: 10px;*/
}
.seqNo2 {
  margin-top:100px !important;
}
.seqNo5,.seqNo6 {
 margin-top: 20px !important;
}
/*
#RGLYT {
   background-color: rgb(35, 35, 242);
    width:95%;
    margin-left:20px;
    margin-top:20px;
}*/
h4#selForm--title.sapUiFormTitle.sapUiFormTitleH4 {
 color:white;
 background-color: rgb(15, 85, 142);
}
.sapMLabel,#barscan {
 color: black !important;
font-size: 12pt !important;
font-weight: normal;
}
#__text16,#__text17 {
font-family: arial !important;
font-size: 12pt !important;
}


#selFormPanel {
 margin-left: 20px !important;
 margin-top:20px !important;
 background-color:rgb(13, 68, 177) !important;
}
#selFormPanel-header,#lcDocProcPanel-header {
 background-color:rgb(33, 33, 212);
color:white;
font-family: Arial;
font-weight:bold;
font-size:20px;
}
.sapUiFormResGrid>div, #lcBtn {
 background-color: transparent  !important;
 text-shadow: none !important;
 -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#lcStatus {
  background-color:transparent  !important;
  border-top: solid 1px white;
 -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#lcBtn-BarRight {
background-color:green;
}
#subBtn {
 color:white !important;
 font-weight:bold;
}
#canBtn {
background-color:grey;
color:white;
}
#documentList,#lcDocProcPanel {
  /*margin-top:50px;*/
}
#documentList-header {
  background-color: rgb(133, 133, 239);
}
#documentList-listUl {
 background-color: white !important;
 border-radius: 10px;
}
#lcDocProcDetail {
 background-color: green;
}
.sapMPanelHdr {
 color: white !important;
 text-shadow: none !important;
 font-size: 15pt !important;
}
#infoTxt {
 background-color: white;
padding: 10px;
text-transform: lowercase;
font-size: 0.95rem;
}





#remark, #esignlabel {
 color:blue;
margin-top:10px;

}
#remTxtArea {
  width: 100%;
}
.eSignTxt1 {
color: #743C04;
font-weight: bold;
padding-bottom: 20px;
padding-left:10px;
padding-right:10px;
padding-top:10px;
font-size: 15pt !important;
font-family: Arial !important;
}
.eSignTxt2 {
color:#592E03;
padding-left:10px;
font-weight: bold;
font-size: 15pt !important;
font-family: Arial !important;
}
.eSignTxt3 {
color:#743C04;
padding-left:10px;
padding-bottom: 10px;
font-size: 15pt !important;
font-family: Arial !important;
}
#hLyt {
 padding-top: 20px;
}
div#hLyt label {
 color: blue !important;
 padding-right:3px;
}
.selBtnHdr > div {
background-color: rgb(117, 117, 185) !important;
font-weight: bold !important;
}
.lcTableTile,div#documentList > div > label {
  color: #FFF !important;
}
.crtBtn > div {
 background-color: rgb(54, 185, 54) !important;
}
div#documentList > div {
  background-color: rgb(117, 117, 185) !important;
}
#lcDocProcPanel > .sapMPanelHdr {
  background-color: rgb(117, 117, 185) !important;
}
/*
#__item6,#__item10,#__item14 {
 background-color: #D2D9DC;
}*/

/*#__panel0-CollapsedImg {
background-color: rgb(189, 200, 207);
}*/